h1, p {
    font-family: Lato;
  }
  body { margin: 0 }


.float-right {
  align-content:  right;
}

body{
  margin: 0;
}

.centered{
  
  height: 200px;
}

.wrap{
  background-image:url(https://www.ecopetit.cat/wpic/mpic/154-1542455_wallpaper-white-passenger-plane-blue-map-background-tourism.jpg);
  background-size: cover;
  height: calc(300% + 60px);
}
.wrap2{
  background-image:url(https://unsplash.com/photos/rf6ywHVkrlY/download);
  background-size: cover;
  height: calc(270% + 57px);
}
.transparentForm{
  position: center;  
  background: rgba(0,0,0, 0.3);
  padding: 10px; 
}
.loginForm{
  position: center;
  background: rgba(0,0,0, 0.1);
  padding: 10px; 
  font-weight:  bold;
}
h5{
  margin: 0; 
  padding: 0 0 20px; 
  font-weight:  initial;
  color:white
}
.contactUs {
  margin: 0; 
  padding: 0 0 20px; 
  font-weight:  bold;
  color:black
}
.dateForms{
  width: 41%;
  border: 2px solid gray; 
  background-color: rgba(255, 255, 255, 0.85); 

}
.address {
  text-align: center;
  right: 1%;
  bottom: 25%; 
  position: absolute;
  width: 60%; 
  background-color: rgba(255, 255, 255, 0.0); 
}
.resultForms2 {
  text-align: center;
  right: 1%;
  bottom: 5%; 
  position: absolute;
  width: 60%;
  border: 2px solid black; 
  background-color: rgba(255, 255, 255, 0.85); 

}

