h1, p {
    font-family: Lato;
  }
  body { margin: 0}



.float-right {
  align-content:  right;
}

body{
  margin: 0;
}

.centered{
  
  height: 200px;
}

.wrap{
  background-image:url(https://images.unsplash.com/photo-1558285549-2a06f9a5fe65?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);
  background-size: cover;
  height: calc(300% + 60px);
}
.wrap2{
  background-image:url(https://unsplash.com/photos/rf6ywHVkrlY/download);
  background-size: cover;
  height: calc(300% + 60px);
}
.transparentForm{
  position: center;  
  background: rgba(0,0,0, 0.3);
  padding: 10px; 
}
h5{
  margin: 0; 
  padding: 0 0 20px; 
  font-weight:  initial;
  color:white
}

